<div class="container-fluid ma-footer">
    <footer class="row row-cols-2 row-cols-sm-2 row-cols-md-5 pt-5 d-flex justify-content-evenly ">
        <div class="col mb-3 d-none d-sm-none d-md-none d-lg-block">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <img src="{{ asset('build/images/logo.png') }}" alt="Logo Mang'Art" width="300" height="200"
                    class="img-fluid" alt="Responsive image">
            </a>
        </div>
        <div class="col mb-3 d-none d-sm-none d-md-none d-lg-block">
            <h5
                class="fw-bold be-fontsize-title-footer mb-4 d-none d-sm-none d-md-none d-lg-block text-center ma-footer-titres">
                Contacts</h5>
            <ul class="be-fontsize-footer nav flex-column ma-footer-ul">
                <li class="nav-item mb-3">
                    <a href="" class="nav-link p-0 text-center ma-footer-titres">
                        <i class="fa-solid fa-phone-flip" style="color: #f0e6dc;"></i>
                        Infinit X Gojo
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a href="" class="nav-link p-0 text-center ma-footer-titres">
                        <i class="fa-solid fa-envelope" style="color: #f0e6dc;"></i>
                        gravité@inversé.8
                    </a>
                </li>
                <li class="nav-item mb-3 text-center">
                    <a href="https://www.google.com/search?q=trou+noir+le+plus+proche+de+la+terre&sca_esv=562311215&ei=RlT0ZKWKBv-HkdUP_P6B2AI&oq=trou+noir&gs_lp=Egxnd3Mtd2l6LXNlcnAiCXRyb3Ugbm9pcioCCAEyChAAGIoFGLEDGEMyBxAAGIoFGEMyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgcQABiKBRhDMgUQABiABDIFEAAYgAQyBRAAGIAESMgjUABYzRNwAXgBkAEAmAGXAaABqgqqAQQwLjEwuAEDyAEA-AEBwgILEAAYgAQYsQMYgwHCAgsQLhiABBixAxiDAcICERAuGIAEGLEDGIMBGMcBGNEDwgIHEC4YigUYQ8ICDRAuGIoFGLEDGIMBGEPCAg0QABiKBRixAxiDARhDwgIIEAAYgAQYsQPCAg4QLhiABBixAxjHARivAeIDBBgAIEGIBgE&sclient=gws-wiz-serp"
                        class="nav-link p-0 ma-footer-titres">
                        <i class="fa-solid fa-igloo" style="color: #f0e6dc;"></i>
                        8 rue proche du trou noir
                    </a>
                </li>
        </div>
        <div class="col mb-3  ">
            <h5
                class="fw-bold be-fontsize-title-footer mb-4 text-center d-none d-sm-none d-md-none d-lg-block text-center ma-footer-titres">
                Réseaux
                sociaux</h5>
            <a class="" href="https://instagram.com/brazzynho?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">
                <i class="fa-brands fa-instagram fa-2xl ma-IG" style="color: #f0e6dc;"></i>
            </a>
            <a href="https://www.linkedin.com/in/itaan-silva/" class="ma-test-Lkdn">
                <i class="fa-brands fa-linkedin-in fa-2xl"></i>
            </a>
        </div>
    </footer>
    <div class="container-fluid ma-footer">
        <p class="text-center ma-footer-titres">Mang'Art © 2023 - Tous droits réservés</p>
        <p class="text-center ma-footer-titres ma-fin-footer">Développé avec le
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>
            par le Flemmard
        </p>
    </div>
</div>