.ma-footer {
    background-color: #8F6C53FF;
}

.ma-footer-ul {
    align-items: baseline;
    margin-left: 4rem;
}

.ma-fin-footer {
    margin-bottom: 0 !important;
}

.ma-footer-titres {
    color: #f0e6dcff;
}

.ma-IG {
    color: #f0e6dc;
    margin-left: 3.5rem;
}

.ma-test-Lkdn {
    color: #f0e6dc;
    list-style: none !important;
    margin-left: 1rem;
}
