.carte-description {
  background-color: #8F6C53FF !important;
  border: 2px solid black;
  border-radius: 8px;
}

.descriptifImage {
  color: #f0e6dc !important;
  // border: 2px solid black;
  font-family: Bangers;
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  margin-left: 4rem !important;
  margin-right: 2rem !important;
  // margin: 3rem;
  text-align: right;
}

// .ma-description {
//   // color: red;
// }

